.listElement {
    background-color: bisque;
    min-height: 4rem;
    justify-content: space-between;
    display: flex;
    border: solid;
    border-radius: 5px;
}
.checkbox{
    margin-top: auto;
    margin-bottom: auto;
}
.elementText{
    position: page;
    margin: auto;
    height: 2.5rem;
    width: 100%;
    z-index: 10;
}
.listElement button{
    z-index: 0;
}